@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* #root{
  background: radial-gradient(circle, rgba(1,1,1,1) 52%, rgba(255,255,255,0) 100%);
} */

body {
  /* background: radial-gradient(circle, rgba(255,255,255,0.7) 52%, rgba(1,1,1,1)  100%); */
  font-family: "Inter", sans-serif;
}

a {
  pointer-events: all;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  margin-left: 14px;
}

a,
a:visited {
  color: black;
}